body {
  display: flex;
}

div {
  align-self: center;
  margin: auto;
  display: inline-block;
  font-size: 36px;
  height: 400px;
  width: 300px;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fcedb 51%, #29b4e8 75%);
  background-repeat: no-repeat;
}

ul {
  margin: 1em;
}
